services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      dev:
        ipv4_address: 172.22.0.22
    ports:
      - "8000:8000"
      
networks:
  dev:
    external: true
